$hidden-menu-background: #141414;
$hidden-menu-color-border: #2c2c2c;


.nav {
  display: flex;
  gap: 20px;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  top: 0;

  animation: nav-shadow 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 50px;
  box-sizing: border-box;

  z-index: 50;
  position: fixed;


  &__elements-list {
    display: flex;
    height: 100%;
    gap: 36px;
    justify-content: center;
    align-items: center;
  }


  &__home-button {
    margin-right: 32px;
  }


  &__element {
    text-wrap: nowrap;

  }


  &__account-options {
    background-color: inherit;
    padding: 16px;
    width: 240px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: height;


    &--active {
      background-color: $hidden-menu-background;
      border: 1px solid $hidden-menu-color-border;
      border-top: none;
      border-bottom: none;
    }

  }


  &__current-account {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;

    &-image {
      width: 48px;
      height: 48px;
      border-radius: 50%;

      &-plus {
        background-color: #2a2a2a;
        padding: 15px;
      }
    }

    &__name {
      font-size: 15px;
    }
  }

}

@keyframes nav-shadow {
  0% {
    background: linear-gradient(rgba(48, 50, 62, 0.6) 0%, rgba(0, 0, 0, 0) 95%);
  }
  100% {
    background-color: black;
  }
}


.hidden-menu {
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: height;
  height: 0;
  box-sizing: border-box;

  background-color: inherit;
  position: absolute;
  gap: 20px;
  flex-direction: column;
  padding: 16px;
  top: 80px;
  right: 36px;
  width: 240px;
  border-radius: 0 0 4px 4px;

  border: 1px solid $hidden-menu-color-border;
  border-top: none;
  z-index: 50;

  color: #a1a1a1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  letter-spacing: -.1px;
  line-height: 1.53;
  font-weight: 500;

  &--active {
    display: flex;
    visibility: visible;
    height: 350px;


    &::before {
      content: '';
      position: absolute;
      border: 1px solid #232323;

      top: 0;
      left: 20px;
      right: 20px;
    }
  }


  &__other-accounts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

  }

  &__options-container {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__option {
    padding: 8px 0;
  }
}




/* ---------------- Responsive ----------------*/
@media(max-width: 1439px) {
  .nav__profile-name {
    display: none;
  }
}