.card-film {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 335px;
  min-width: 335px;

  aspect-ratio: 16/9;
  overflow: hidden;


  &__image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
  }
}



