
.section-button{
    position: absolute;
    width: 59px;
    background-color: transparent;
    z-index: 5;
    top: 0;
    bottom: 0;
    font-size: 40px;
    color: white;
    border-style: solid;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 100%;

    &:hover{
      border-color: green;
      opacity: 1;
    }

  &--left{
    left: 0;
  }
  &--right{
    right: 0;
  }

}