.item-collection {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 9px;
  outline: 3px solid rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;

  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));

  transition: outline-color 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border-radius 0.4s ease;

  overflow: hidden;


  &:hover {
    outline: 3px solid white;
    transform: scale(1.05);
    border-radius: 15px;
    outline-offset: 3px;

  }


  &__video {
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

  }

  &__image {
    width: 100%;
    height: auto;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.item-collection:hover .item-collection__video {
  opacity: 1;
}




/* ---------------- Responsive ----------------*/
@media(max-width: 767px) {
  .item-collection {
    flex: 0 1 22%;
    height: auto;
    aspect-ratio: 59 / 55;
    justify-content: center;
    max-width: 25%;



    &__video {
      height: 100%;
      object-fit: cover;
    }

    &__image {
      margin: auto;
      object-fit: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

  }

}