.main-collections {
  display: flex;
  gap: 16px;
  width: 100%;
  margin: auto;
  padding: var(--large-padding);
  padding-bottom: 40px;

}



/* ---------------- Responsive ----------------*/

@media(max-width: 767px) {
  .main-collections {
    padding: var(--small-padding);
    gap: 20px;
    width: 100%;

    flex-wrap: wrap;
    justify-content: center;

  }

}