
.slider-item{
  position: relative;
  width: 94%;
  min-width: 94%;
  display: flex;
  height: 585px;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;

  &::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    outline: 3px solid #b4b4b4;

    position: absolute;
    opacity: 0;
    transition: opacity 0.35s ease;
  }

  &__image{
    object-fit: cover;
    width: 100%;
    aspect-ratio: auto;
    animation: image-in 1000ms cubic-bezier(0.42, 0, 0.58, 1) 0ms forwards;
    border-radius: inherit;
  }

}

.slider-item:hover.slider-item::after{
  opacity: 1;
}



// Animations
.animation-image-in{
  animation: image-in 1000ms cubic-bezier(0.42, 0, 0.58, 1) 0ms forwards;
}

@keyframes image-in {

  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.00);
  }
}




// Titles images
.slider-info{
  position: absolute;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  margin-left: 76px;
  margin-right: auto;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;


  &__title-image{
    width: 410px;
  }

  &__details-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text-episodes{
    font-weight: bold;
    font-size: 15px;
  }

  &__advisor-category-container{
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: center;
  }

  &__advisor-category{
    color: #a8a9ad;
    font-size: 12px;
  }

}





