.card-film-list{
  display: flex;
  gap: 16px;
  padding: 22px 0;
  height: fit-content;
  border: 1px solid red;
  position: relative;

  &__container{
    display: flex;
    gap: 16px;
    width: 100%;
    overflow: hidden;
  }
}

