.card-film-list{
  display: flex;
  flex-direction: column;

  &__title{
    font-size: 20px;
    color: #cacaca;
  }

  &__wrapper{
    display: flex;
    position: relative;
    height: fit-content;
  }


  &__container{
    display: flex;
    gap: 16px;

    padding: 42px 71px;
    overflow-x: hidden;
    overflow-y: visible;


  }
}

