$hidden-menu-background: #141414;
$hidden-menu-color-border: #2c2c2c;


.nav {
  display: flex;
  gap: 20px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;

  &__elements-list {
    display: flex;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__elements-list--active {

  }

  &__home-button {
    margin-right: 32px;
  }

  &__element {
    text-wrap: nowrap;

  }


  &__account-options {
    background-color: inherit;
    padding: 16px;
    width: 240px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: height;


    &--active {
      background-color: $hidden-menu-background;
      border: 1px solid $hidden-menu-color-border;
      border-top: none;
      border-bottom: none;
    }

  }


  &__current-account {
    display: flex;
    gap: 16px;
    justify-content: end;
    align-items: center;

    &-image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &-name {

    }
  }

}



.hidden-menu {
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: height;
  height: 0;

  background-color: inherit;
  position: absolute;
  gap: 20px;
  flex-direction: column;
  padding: 16px;
  top: 80px;
  right: 37px;
  width: 240px;
  border-radius: 0 0 4px 4px;

  border: 1px solid $hidden-menu-color-border;
  border-top: none;
  z-index: 50;


  &--active {
    display: flex;
    visibility: visible;
    height: 350px;


    &::before {
      content: '';
      position: absolute;
      border: 1px solid #232323;

      top: 0;
      left: 20px;
      right: 20px;
    }
  }


  &__other-accounts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;

  }

  &__options-container {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__option {
    padding: 8px 0;
  }
}

/*
.nav__account-options:hover .hidden-menu{
  display: flex;
  background-color: $hidden-menu-background;
  position: absolute;
  gap: 16px;
  flex-direction: column;
  padding: 16px;
  top: 80px;
  right: 37px;
  width: 240px;
}
.nav__account-options:hover{
  background-color: $hidden-menu-background;
}
*/


@media(max-width: 1439px) {
  .nav__profile-name {
    display: none;
  }
}