.slider-container {
  position: relative;
  display: flex;
  height: fit-content;
  overflow-y: visible;
}


.slider-item-container{
  display: flex;
  align-items: center;
  width: 100%;

  gap: 20px;
  padding: 20px 20px 44px 20px;
  overflow-x: hidden;
  overflow-y: visible;

  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;

}




.slider{

  &__right-button{
    right: 0;
  }

  &__left-button{
    left: 0;
  }

  &__arrow-buttons{
    position: absolute;
    width: 3.5%;
    background-color: transparent;
    z-index: 5;
    top: 0;
    bottom: 0;
    font-size: 40px;
    color: white;
    border-style: solid;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover{
      border-color: green;
      opacity: 1;
    }
  }
}


.slider__pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 34px;
  position: absolute;
  bottom: 0;

  width: 100%;

}

.slider__pagination-button{
  border-radius: 50%;
  width: 8px;
  height: 8px;

  border: none;
  background-color: #969eab;
  cursor: pointer;


  &--active{
    background-color: #fafafa;
  }
}
