.slider-container {
  position: relative;
  display: flex;
  height: fit-content;
  overflow-y: visible;
  margin-bottom: 15px;
}


.slider-item-container{
  display: flex;
  align-items: center;
  width: 100%;

  gap: 20px;
  padding: 10px 20px 50px 20px;
  overflow-x: hidden;
  overflow-y: visible;

  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;

}




.slider__pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 34px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;

  width: 100%;

}


.slider__pagination-button{


  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__pagination-button-style{
  border-radius: 50%;
  width: 8px;
  height: 8px;

  border: none;
  background-color: #969eab;
  cursor: pointer;


  &--active{
    background-color: #fafafa;
    transform: scale(1.25);
  }
}
